@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p>belajar tentang <a href="https://docs.microsoft.com/aspnet/core">Membangun Web App dengan ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    <h1>Aplikasi Persuratan</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Selamat Datang diAplikasi Persuratan</h2>
        <p>
            Aplikasi Persuratan ini merupakan aplikasi sederhana
            yang menggambarkan penggunaan Entity Framework Core dalam
            Web Aplikasi berbasis ASP.NET Core MVC
        </p>
    </div>
    <div class="col-md-4">
        <h2>dibuat dari awal</h2>
        <p>Anda dapat membuatnya dengan mengikuti langkah-langkah dalam seri tutorial.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Lihat Tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unduh ini</h2>
        <p>Kamu bisa mengunduhnya secara lengkap dari GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Lihat Sumber Code Project &raquo;</a></p>
    </div>
</div>